<p-card title="INFO" subtitle="ENTRENADOR" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="https://cdn-az.allevents.in/banners/2eeb14032b1e938973c980bd078bd965-rimg-w711-h265-gmir.jpg">
    </p-header>
    <div>

    </div>
    <p-footer>
        <button pButton type="button" label="Save" icon="fa-check"></button>
        <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary"></button>
    </p-footer>
</p-card>
