<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <app-carousel></app-carousel>
    </div>
    <div class="col-lg-6">
      <app-input1></app-input1>
    </div>
  </div>
</div>

<br />

<div style="text-align:center" class="container">
  <div class="row">
    <div class="col-sm-3">
      <img width="250" [src]="img1" />
    </div>
    <div class="col-sm-3">
      <img width="250" [src]="img1" />
    </div>
    <div class="col-sm-3">
      <img width="250" [src]="img1" />
    </div>
    <div class="col-sm-3">
      <img width="250" [src]="img1" />
    </div>
  </div>
</div>

<br />

<div style="text-align:center" class="container">
  <div class="row">
    <div class="col-sm-3">
      <img width="250" [src]="img1" />
    </div>
    <div class="col-sm-3">
      <img width="250" [src]="img1" />
    </div>
    <div class="col-sm-3">
      <img width="250" [src]="img1" />
    </div>
    <div class="col-sm-3">
      <img width="250" [src]="img1" />
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <app-input2></app-input2>
    </div>
    <div class="col-lg-6">
      <app-tarjeta></app-tarjeta>
    </div>
  </div>
</div>
<br />
<app-tabla></app-tabla>
