<p-card title="INFO" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="https://cdn-az.allevents.in/banners/2eeb14032b1e938973c980bd078bd965-rimg-w711-h265-gmir.jpg">
    </p-header>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" value="" #nombreEnt>
  </mat-form-field>
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido" value="" #apellidoEnt>
  </mat-form-field>
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="fechaNacimiento" value="" #fechaNacimientoEnt>
  </mat-form-field>
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="numeroMedallas" value="" #numeroMedallasEnt>
  </mat-form-field>
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="campeonActua" value="" #campeonActuaEnt>
  </mat-form-field>
<br />
<button mat-button>Limpiar</button>
<button mat-button (click)="aplicarClase(nombreEnt.value,apellidoEnt.value,fechaNacimientoEnt.value,numeroMedallasEnt.value,campeonActuaEnt.value)">Guardar</button>
