<p-card title="INFO" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="https://cdn-az.allevents.in/banners/2eeb14032b1e938973c980bd078bd965-rimg-w711-h265-gmir.jpg">
    </p-header>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" value="">
  </mat-form-field>
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido" value="">
  </mat-form-field>
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="fechaNacimiento" value="">
  </mat-form-field>
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="numeroMedallas" value="">
  </mat-form-field>
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="campeonActua" value="">
  </mat-form-field>
<br />
<button mat-button>Limpiar</button>
<button mat-button>Guardar</button>
