<!-- {{pokemons | json}} -->
<div align="center">
  <h1>BANCO DE POKÉMON</h1>
</div>
<p-table [value]="pokemons">
    <ng-template pTemplate="header">
        <tr>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Poder 1</th>
            <th>Poder 2</th>
            <th>Fecha Captura</th>
            <th>Nivel</th>
            <th>Entrenador</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pokemon>
        <tr>
            <td>{{pokemon.numeroPokemon}}</td>
            <td>{{pokemon.nombrePokemon}}</td>
            <td>{{pokemon.poderEspecialUno}}</td>
            <td>{{pokemon.poderEspecialDos}}</td>
            <td>{{pokemon.fechaCaptura}}</td>
            <td>{{pokemon.nivel}}</td>
            <td>{{pokemon.entrenadorId}}</td>
        </tr>
    </ng-template>
</p-table>
