<div align="center">
  <h1>BANCO DE POKÉMON</h1>
</div>
<p-table [value]="cars">
    <ng-template pTemplate="header">
        <tr>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Poder1</th>
            <th>Poder2</th>
            <th>FechaCaptura</th>
            <th>Nivel</th>
            <th>Entrenador</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>{{car.Numero}}</td>
            <td>{{car.Nombre}}</td>
            <td>{{car.Poder1}}</td>
            <td>{{car.Poder2}}</td>
            <td>{{car.FechaCaptura}}</td>
            <td>{{car.Nivel}}</td>
            <td>{{car.Entrenador}}</td>
        </tr>
    </ng-template>
</p-table>
