<p-card align="center" title="INFO DEL POKÉMON" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2000px-International_Pok%C3%A9mon_logo.svg.png">
    </p-header>
<div class="sa-pokedext">


<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Numero de Pokemon</label>
</span>
<br />
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Poder Especial Uno</label>
</span>
<br />
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Poder Especial dos</label>
</span>
<br />
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Fecha Captura</label>
</span>
<br />
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Nivel</label>
</span>
<br />
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">id Entrenador</label>
</span>
</div>
